@using OFF.PL.ViewModels
@model ForgetPasswordVM

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Complete Forget Password</title>
    <link rel="stylesheet" href="~/css/Forgetpass.css" />
</head>
<body>
    <div class="wrapper">
        <div class="agileits-top">
            <div class="body">
                Password reset link has been sent to your email. please check your inbox
                <a href="https://mail.google.com/">Click here</a>
            </div>
        </div>
    </div>
    @section Scripts {
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }
</body>
</html>
