@using OFF.PL.ViewModels
@model ForgetPasswordVM

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="~/css/Forgetpass.css" />
</head>
<body>
    <div class="wrapper">
        <form asp-action="ForgetPasswordMailKit" method="post" class="form">
         	<div asp-validation-summary="All"></div>

            <h1>Forgot Password</h1>
            <!-- <div class="input-box"> -->
            <input type="text" asp-for="Email" placeholder="email" required />
            <span asp-validation-for="Email" class="text-danger"></span>

            <input type="submit" class="btn" value="Send">
        </form>
@*         <p> <a asp-action="Login"> Back</a></p>
 *@
    </div>
    @section Scripts {
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }
</body>
</html>
