@using OFF.PL.ViewModels
@model ResetPasswordVM
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="~/css/reset.css">
</head>
<body>
    <div class="wrapper">
        <form asp-action="ResetPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Email" type="hidden" />
            <input asp-for="Token" type="hidden" />
            <h1>Reset Password</h1>
            <div class="input-box">
                <input type="password" asp-for="Password" placeholder="new password" required>
            </div>
            <div class="input-box">
                <input type="password" asp-for="ConfirmPassword" placeholder="confirm password" required>
            </div>
            <input type="submit" value="ResetPassword" class="btn">
        </form>
    </div>
    @section Scripts {
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }
</body>

</html>