
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="~/css/usss.css">
</head>
<body>
    <div class="header-content">

        <div class="header-menu">

            <img class="logo" src="~/Images/zeti.jpg" alt="logo">
            <ul>
                <br>

                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="News">News</a></li>
                <li><a asp-controller="Home" asp-action="AllPlayer">Players</a></li>
                <li><a asp-controller="Home" asp-action="AllAgent">Custodians</a></li>
                <li><a asp-controller="Home" asp-action="AboutUs">About Us</a></li>
            </ul>
        </div>
    </div>

    <div class="card-list">
        <div href="#" class="card-item">
            <img src="~/Images/F1.jpg" alt="Card Image">
            <span class="developer">Who are you ?</span><br>
            <br>
            <h5 style="color: #205c20;">
                OFFSIDE” is a website that provides a service to players and players’ custodians in football sport as it makes it
                easy for both of them to meet and communicate through the website.The site provides a service to players,
                which is to create a personal page in which he/she displays his skills and talent in pictures or video clips,
                and its visibility is available to agents who are looking for players in order to contract with them and
                complete deals.
            </h5>

        </div>
        <div href="#" class="card-item">
            <img src="~/Images/F2.jpg" alt="Card Image">
            <span class="designer">Our mission</span>
            <br>
            <br>
            <h5 style="color: #205c20;">
                We provide an easy-to-use the website to connect players and agents and give an opportunity for players
                to play in a large clubs and make agents discover more talents and players in an easy way from their phones
                and tablets.
            </h5>

        </div>
        <div href="#" class="card-item">
            <img src="~/Images/F3.jpg" alt="Card Image">
            <span class="editor">Our objective</span>
            <br>
            <br>
            <h5 style="color: #205c20;">
                - Make it easier for skilled football players to achieve their dream of becoming famous footballers.<br><br>
                - Make it easier for custodians to find the skills they are looking for in many football players.<br><br>
                - Make it easier for both, as all these processes will be done remotely without going anywhere.
            </h5>

        </div>
    </div>
</body>
</html>