@using OFF.PL.ViewModels
@model IEnumerable<AgentRegisterVM>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>All custodians</title>
    <link rel="stylesheet" href="~/css/allagents.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
  



    <div class="main-content">
        <header>
            <div class="header-content">

                <img class="logo" src="~/Images/asfar 2.png" alt="logo">
                <div class="header-menu">
                    <ul>
                        <br>
                        
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-controller="Home" asp-action="News">News</a></li>
                            <li><a asp-controller="Home" asp-action="AllPlayer">Players</a></li>
                            <li><a asp-controller="Home" asp-action="AllAgent">Custodians</a></li>
                            <li><a asp-controller="Home" asp-action="AboutUs">About Us</a></li>
                        
                        <div class="dropdown">
                            <button class="dropbtn">    <span class="las la-bars"></span></button>
                            <div class="dropdown-content">
                                <a href="#">Profile</a>
                                <a href="#">Logout</a>
                            </div>
                    </ul>
                </div>
            </div>
        </header>



        <main>


            <div class="page-content">



                <div class="records table-responsive">

                    <div class="record-header">
                        <div class="add">
                            <span></span>



                        </div>

                        <div class="browse">
                            <input type="search" placeholder="Search" class="record-search">

                        </div>
                    </div>

                    <div>
                        @if (Model.Count() > 0)
                        {
                            <table width="100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th><span class=""></span> </th>
                                        <th><span class=""></span> </th>
                                        <th><span class=""></span> </th>
                                        <th><span class=""></span> </th>
                                        <th><span class=""></span> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in Model)
                                    {
                                        <tr>
                                            <td></td>
                                            <td>
                                                <div class="client">
                                                    <div class="client-img bg-img"> <img src="~/Files/Pics/@user.ImageName" width="97" height="97" class="img-fluid rounded-circle" alt="profile" />
                                                </div>
                                                    <div class="client-info">
                                                        <h4>@user.userName</h4>
                                                        <small></small>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                                <div class="actions">
                                              


                                                    <a asp-controller="Agent" asp-action="ViewProf" asp-route-id="@user.Id"> <button id="bottone5">View</button></a>

                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>

                </div>

            </div>

        </main>

    </div>
</body>
</html>